.item {
	width:200px;
	height:200px;
	float:left;
	border:1px solid #ddd;
	padding:6px;
	margin:3px;
}

.item .title {
	text-overflow:ellipsis;
	max-height:40px;
	overflow:hidden;
}

.item .category {
	display:none;
}

.item .thumb {
	width:140px;
	height:140px;
}

.item .price {
	font-weight:bold;
	padding:4px;
	border:1px solid #333;
	margin:3px;
	float:right;
}

.twitter_button {
	margin-top:10px;
	margin-right:70px;
}

.forkbitbucket {
	position:absolute;
	z-index:10000;
	top:0;
	right:0;
}

.logo {
	height:300px;
	width:280px;
}