{% extends "TahSuBundle:Default:layout.html.twig" %}

{% block content %}
	<div class='jumbotron' style='text-align:center;'>
		<img src='/images/blue-umbrella-icon.png' class='logo'><br>
	    <form action='/search/' method='GET' onsubmit='document.location.href="/search/"+document.getElementById("keywords2").value;return false;'>
			<input type='search' name='keywords2' id='keywords2' placeholder='Search keywords..'>
			<button type="submit" class="btn btn-default btn-lg">Search</button>
	    </form>
	    Examples: <a href='/search/large'>large</a>, <a href='/search/golf'>golf</a>, <a href='/search/heart shaped'>heart shaped</a>
	</div>
{% endblock %}