<!DOCTYPE html>
<html lang="en">
    <head>
        <title>iWantAnUmbrella.com - Buy umbrellas in the UK! Exciting!{% block title '' %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<link href="/css/style.css" rel="stylesheet" type="text/css" />
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		{% block extrahead '' %}
    </head>

    <body>
		<a href="https://bitbucket.org/theahindle/iwantanumbrella" class='forkbitbucket hidden-xs'>
			<img src="//bitbucket.org/zgramana/bitbucket-ribbons/raw/988dffc5fbeb/png/bitbucket-ribbon-dark-gray.png" />
		</a>

		<div class='container'>
			  <!-- Brand and toggle get grouped for better mobile display -->
			<nav class="navbar navbar-default" role="navigation">

			  <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			      <span class="sr-only">Toggle navigation</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="http://iwantanumbrella.com">I want an umbrella <small>(semi serious)</small></a>
			  </div>


		      <ul class="nav navbar-nav navbar-right hidden-xs">
				<li class='twitter_button'>
			  		<a href="https://twitter.com/iwantanumbrella" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @iwantanumbrella</a>
			  	</li>
			  </ul>

			  <!-- Collect the nav links, forms, and other content for toggling -->
			  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<form action='/search/' method='GET' class='navbar-form navbar-left' onsubmit='document.location.href="/search/"+document.getElementById("keywords").value;return false;'>
				    <div class="form-group">
					<input type='search' class='form-control' name='keywords' id='keywords' placeholder='Search keywords..'>
				    </div>
			      <button type="submit" class="btn btn-default">Search</button>
			    </form>
			  </div><!-- /.navbar-collapse -->
			</nav>
			{% block content %}{% endblock %}
		</div>

		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-48288227-1', 'iwantanumbrella.com');
		ga('send', 'pageview');

		</script>
    </body>
</html>