{% extends "TahSuBundle:Default:layout.html.twig" %}

{% block content %}
	{% if searchResults|length > 0 %}
		{% for item in searchResults %}
		    <div class='item' data-url="{{ item.viewItemURL }}">
		    	<a href='http://rover.ebay.com/rover/1/710-53481-19255-0/1?icep_ff3=2&pub=5575078090&toolid=10001&campid=5337455438&customid=&icep_item={{ item.itemId }}&ipn=psmain&icep_vectorid=229508&kwid=902099&mtid=824&kw=lg'>
		    		<span class='price'>
			    		&pound;{{ item.sellingStatus.currentPrice|number_format(2, '.', ',')  }}
			    	</span>
			    	<div class='title'>
			    		{{ item.title }} 
			    		<span class='category'>
			    			{{ item.primaryCategory.categoryName }}
			    		</span>
			    	</div>
			    	<div class='thumb'>
			    		<img src='{{ item.galleryURL }}' />
			    	</div>
			    </a>
		    </div>
		{% endfor %}
	{% else %}
		We didn't find a thing! Nada! Zilch! Nuffin! Nout!...I am sorry :(<br>
		<a class='btn btn-primary' href='/'>Try again</a>
	{% endif %}
{% endblock %}